.card {
    background-color: #fff;
    width: 290px;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 'model model'
                         'make  make'
                         'img   img'
                         'year  km'
                         'price btn';
    padding: 1rem 1.5rem 1.5rem;
}

.card p {
    margin: 0;
}

.model {
    grid-area: model;
    color: #1A202C;
    font-weight: 700;
    font-size: 1.25rem;
}

.make {
    grid-area: make;
    color: #90A3BF;
    font-size: .875rem;
    font-weight: 700;
    margin-top: .25rem;
}

.car-img {
    grid-area: img;
    justify-self: center;
    margin: 2rem 0;
}

.year {
    grid-area: year;
}

.km {
    grid-area: km;
}

.year,
.km {
    display: flex;
    align-items: center;
    column-gap: .3rem;
    color: #90A3BF;
    font-size: .875rem;
    font-weight: 500;
}

.price {
    grid-area: price;
    font-size: 1.25rem;
    font-weight: 700;
    color: #1A202C;
}

.card--button {
    grid-area: btn;
    background-color: #3563E9;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
}

p.price,
.card--button {
    margin-top: .75rem;
    align-self: center;
}
